<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominio.ihelp10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iHelp"
        android:supportsRtl="true"
        android:theme="@style/Theme.IHelp10">
        <activity
            android:name=".CreateCase"
            android:exported="false" />
        <activity
            android:name=".FrequentCases"
            android:exported="false" />
        <activity
            android:name=".MyCases"
            android:exported="false" />
        <activity
            android:name=".ExpertStart"
            android:exported="false" />
        <activity
            android:name=".ClientStart"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SingIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>