<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominio.ihelp10">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iHelp"
        android:supportsRtl="true"
        android:theme="@style/Theme.IHelp10">
        <activity
            android:name=".vistas.Case"
            android:parentActivityName=".vistas.MyCases"
            android:exported="false" />
        <activity
            android:name=".vistas.Ticket"
            android:parentActivityName=".vistas.ExpertStart"
            android:exported="false" />
        <activity
            android:name=".vistas.TicketsClosed"
            android:parentActivityName=".vistas.ExpertStart"
            android:exported="false" />
        <activity
            android:name=".vistas.UnassignedTickets"
            android:parentActivityName=".vistas.ExpertStart"
            android:exported="false" />
        <activity
            android:name=".vistas.MyTickets"
            android:parentActivityName=".vistas.ExpertStart"
            android:exported="false" />
        <activity
            android:name=".vistas.CreateCase"
            android:parentActivityName=".vistas.FrequentCases"
            android:exported="false" />
        <activity
            android:name=".vistas.FrequentCases"
            android:parentActivityName=".vistas.ClientStart"
            android:exported="false" />
        <activity
            android:name=".vistas.MyCases"
            android:parentActivityName=".vistas.ClientStart"
            android:exported="false" />
        <activity
            android:name=".vistas.ExpertStart"
            android:exported="false" />
        <activity
            android:name=".vistas.ClientStart"
            android:exported="false" />
        <activity
            android:name=".vistas.ForgotPassword"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".vistas.SignIn"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>